.body {
	margin-top: 70px;
	.title {
		font-weight: 600;
	}
	.feelsLike {
		.feelsLikeTemp {
			margin-top: 25px;
			font-size: 30px;
			font-weight: 500;
		}
		.feelsLikeTitle {
			font-size: 11px;
			margin-top: -10px;
		}
	}
}
