.body {
	.position {
		font-size: 20px;
		font-weight: 600;
	}
	.time {
	}
	.temp {
		font-size: 40px;
	}
	.line {
		width: 80%;
		height: 1px;
	}
	.weather {
		margin-top: 20px;
		font-size: 18px;
		font-weight: 600;
	}
}
