.body {
	.position {
		font-size: 20px;
		font-weight: 600;
	}
	.time {
		color: rgb(95, 95, 95);
	}
	.temp {
		color: rgb(255, 217, 0);
		font-size: 40px;
	}
	.line {
		width: 80%;
		height: 1px;
		border-bottom: 1px rgb(219, 219, 219) solid;
	}
	.weather {
		margin-top: 20px;
		font-size: 18px;
		font-weight: 600;
	}
}
