.body {
	width: 55px;
	height: 55px;
	padding: 5px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: black;

	& span {
		font-size: 10px;
		user-select: none;
		color: #fff;
	}
}
.media {
	@media (max-width: 385px) {
		display: none;
	}
}
