.footer {
	width: 100%;
	margin-top: 150px;
	background-color: rgba(238, 238, 238, 0.6);
	padding: 30px 0;

	@media (max-width: 768px) {
		margin-top: 80px;
	}

	.body {
		display: flex;

		@media (max-width: 463px) {
			flex-direction: column;
		}
		@media (min-width: 463px) {
			justify-content: space-between;
		}

		.column {
			padding: 0;

			@media (max-width: 463px) {
				margin-bottom: 50px;
			}

			& p {
				font-weight: 600;
				font-size: 20px;
				@media (max-width: 463px) {
					text-align: center;
				}
			}

			& ul {
				padding: 0;
				margin: 0;

				& li {
					margin-bottom: 5px;
					@media (max-width: 463px) {
						text-align: center;
					}

					& a {
						color: black;
						&:hover {
							color: rgb(61, 61, 61);
						}
					}
				}
			}
		}
	}
}
