.body {
	width: 80%;
	height: 100%;

	.position {
		font-size: 18px;
		font-weight: 600;
	}

	.tempWrap {
		display: flex;
		margin-top: 50px;
		justify-content: space-between;

		.temp {
			font-size: 40px;
			color: #ffd900;
		}

		.feelsLike {
			.feelsLikeTemp {
				font-size: 25px;
				font-weight: 500;
			}

			.feelsLikeTitle {
				font-size: 11px;
				margin-top: -10px;
				color: #6e6e6e;
			}
		}
	}

	.time {
		color: #6e6e6e;
	}

	.line {
		height: 1px;
		border-bottom: 1px #bebebe solid;
	}

	.cards {
		margin-top: 50px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px;
		row-gap: 20px;
	}

	@media (max-width: 992px) {
		.position {
			font-size: 14px;
			font-weight: 600;
		}

		.time {
			font-size: 12px;
		}
	}
	@media (max-width: 768px) {
		width: 100%;

		.position {
			font-size: 14px;
			font-weight: 600;
		}

		.time {
			font-size: 12px;
		}
	}
}
